{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="home-container">
  <div>
    <img class="kuti-logo" src="{% static 'images/kuti logo.png' %}" alt="kuti hall logo">
    <h2>Election Stats</h2>
    <ul>
      <li>Total Eligible Voters:
        <b> {{ eligible_voters }}</b>
      </li>
      <li>Total Vote Casted:
        <b>{{ total_votes }}</b>
      </li>
    </ul>

    {% if request.user.is_authenticated %}
    <form method="post" action="{% url 'home:logout' %}">
      {% csrf_token %}
      <button type="submit">logout</button>
    </form>
    {% else %}
    <div>If you have not voted kindly <a href="{% url 'home:login' %}">Click here to Login</a> </div>
    {% endif %}
  </div>

</div>




{% endblock %}